.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
lib/
server/iws-venv/src/
server/iws-venv/lib/
server/iws-venv/bin/
server/iws-venv/include/
src/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
